@tailwind base;
@tailwind components;
@tailwind utilities;

/* For tag names */
@layer base {
  body {
    background-color: #f7c581;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    @media(max-width: 730px){ 
      margin-top: 20px;
    }
  }
}

/* For classes and ids */
.header .container,
.content .container {
  width: 90%;
}
 