@tailwind base;
@tailwind components;
@tailwind utilities;

/* For tag names */
@layer base {
  body {
    background-color: #f7c581;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}

/* For classes and ids */
.header .container,
.content .container {
  width: 90%;
}

.wrapper {
  margin: unset;
}
